/* .main-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
} */

.main-footer a{
    color: red;
}

.box-footer button {
    margin-left: 5px;
}

.table-actions {
    width: 150px;
}

.table-numeric-values {
    width: 90px;
}

.table-status {
    width: 125px;
}

.navbar-custom-menu .dropdown-menu .user-footer a{
    border-radius: 5px;
    border: 1px solid #bb2d2d;
}

.pad-div-table {
    padding: 0px 15px;
}